{% extends '/materialize/layout/base.twig' %}

{% block title %}{{ 'error_page.page_title'|trans }}{% endblock %}

{% block body %}

    <main class="container announcement_container">
        <header class="pt-5">
            <img class="synoint_logo" src="{{ asset('build/images/syno_logo.png') }}" alt="synoint" />
        </header>
        <div class="col s6 offset-s3" style="text-align: center; margin-top: 140px">
            <h2>{{ 'error_page.oops'|trans }}</h2>
            <h5 class="p-3 red-text darken-2">
                {{ error }}
            </h5>

            {% if surveyId is defined %}
                <p>{{ 'error_page.continue'|trans }}
                    <a href="{{path('survey.index', {'surveyId': surveyId}) }}">
                        {{ 'error_page.survey'|trans }}
                    </a>
                </p>
            {% endif %}
        </div>
    </main>

{% endblock %}
