<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {% if survey is defined %}
                {{ encore_entry_link_tags(survey.config.theme ~ '.' ~ survey.config.colorTheme) }}
            {% else %}
                {{ encore_entry_link_tags('b4.default') }}
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% if survey is defined %}
                {{ encore_entry_script_tags(survey.config.theme ~ '.' ~ survey.config.colorTheme) }}
            {% else %}
                {{ encore_entry_script_tags('b4.default') }}
            {% endif %}
        {% endblock %}
    </body>
</html>
