<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock %}</title>
    
    <script src="{{ asset('/jquery/jquery-3.6.1.min.js', 'vendors') }}"></script>
    <script src="{{ asset('/bootstrap/bootstrap4.6.2.bundle.min.js', 'vendors') }}"></script>
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('b4.default') }}
        
        {% if survey is defined %}
            {% for style in survey.css %}
                {% if true == style.default %}
                  <style>
                    {{ style.css }}
                  </style>
                {% endif %}
            {% endfor %}
            
            {% for style in survey.css %}
                {% if false == style.default and app.request.locale == style.language %}
                    <style>
                        {{ style.css }}
                    </style>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {% if survey is defined %}
        {{ encore_entry_script_tags(survey.config.theme ~ '.' ~ survey.config.colorTheme) }}
    {% else %}
        {{ encore_entry_script_tags('b4.default') }}
    {% endif %}
    
    {% if responseDataLayer is defined %}
        <script>
            let data = {};
            data.version = '{{ responseDataLayer.version }}';
            data.locale = '{{ responseDataLayer.locale }}';
            data.mode = '{{ responseDataLayer.mode }}';
            data.createdAt = '{{ responseDataLayer.createdAt }}';
            data.answers = {{(responseDataLayer.answers|json_encode|raw)}};
        </script>
    {% endif %}
    
    {% if page is defined and '' != page.javascript %}
        <script>
            {{ page.javascript|raw }}
        </script>
    {% endif %}
{% endblock %}
</body>
</html>
