{% use "bootstrap_4_layout.html.twig" %}

{% block linear_scale_row %}
    <section>
        <h5 class="py-3"> {{ form.vars.label }}</h5>
        <div>
            {{ form_widget(form) }}
        </div>
    </section>
{% endblock %}

{% block linear_scale_widget %}
    <div class="d-inline-block">
        <div class="inline-radio btn-group btn-group-toggle" data-toggle="buttons">
            {% for key,choice in form.vars.choices %}
                <div class="col text-center">
                    <label for="{{ choice.data.id }}" class="btn btn-outline-primary text-dark btn-radio">
                        {{ choice.data.code }}
                        <input id="{{ choice.data.id }}" {% if form.vars.required %}required="required"{% endif %} type="radio" value="{{ choice.value }}" name="{{ form.vars.full_name }}"
                        {% if choice.attr is not empty %}
                            {% for key, attr in choice.attr %}
                                {{ key }}="{{ attr }}"
                            {% endfor %}
                        {% endif %}
                        >
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="inline-radio__text pt-2 mt-1">
            {% for key,choice in form.vars.choices %}
                {% if choice.label is not empty %}
                    <div class="col  text-center" >
                        <label class="text-nowrap text-muted font-weight-normal" for="{{ choice.data.id }}">
                            <span class="d-sm-none">{{ choice.data.code }} - </span>{{ choice.label }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}