{% use "bootstrap_4_layout.html.twig" %}

{% block linear_scale_row %}
    <div class="text-center pt-4">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block linear_scale_widget %}
    <div class="d-inline-block">
        <div class="linear-scale__radio-holder btn-group btn-group-toggle" data-toggle="buttons">
            {% for key,choice in form.vars.choices %}
                <div class="col text-center">
                    <label for="{{ choice.data.id }}" class="btn btn-outline-primary text-dark linear-scale__button">
                        {{ choice.data.code }}
                        <input id="{{ choice.data.id }}" {% if form.vars.required %}required="required"{% endif %} type="radio" value="{{ choice.value }}" name="{{ form.vars.full_name }}"
                        {% if choice.attr is not empty %}
                            {% for key, attr in choice.attr %}
                                {{ key }}="{{ attr }}"
                            {% endfor %}
                        {% endif %}
                        >
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="linear-scale__text-holder mt-1">
            {% for key,choice in form.vars.choices %}
                {% if choice.label is not empty %}
                    <div class="col  text-center" >
                        <label class="text-nowrap text-muted font-weight-normal" for="{{ choice.data.id }}">
                            <span class="d-sm-none">{{ choice.data.code }} - </span>{{ choice.label }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block linear_scale_matrix_row %}
    <div style="border-top:1px solid #ebebeb;" class="pt-4 pb-4">
        <div class="row">
            <div class="col text-center my-auto">
                <h6 class="mb-4 p-0"> {{ form.vars.label }}</h6>
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block linear_scale_matrix_widget %}
    <div class="d-inline-block">
        <div class="linear-scale__radio-holder btn-group btn-group-toggle" data-toggle="buttons">
            {% for key,choice in form.vars.choices %}
                <div class="col text-center">
                    <label for="{{ choice.data.id }}" class="btn btn-outline-primary text-dark linear-scale__button">
                        {{ choice.data.columnCode }}
                        <input id="{{ choice.data.id }}" {% if form.vars.required %}required="required"{% endif %} type="radio" value="{{ choice.value }}" name="{{ form.vars.full_name }}"
                        {% if choice.attr is not empty %}
                            {% for key, attr in choice.attr %}
                                {{ key }}="{{ attr }}"
                            {% endfor %}
                        {% endif %}
                        >
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="linear-scale__text-holder mt-1">
            {% for key,choice in form.vars.choices %}

                {% if choice.data.columnLabel is not empty %}
                    <div class="col  text-center" >
                        <label class="text-nowrap text-muted font-weight-normal" for="{{ choice.data.id }}">
                            <span class="d-sm-none">{{ choice.data.columnCode }} - </span>{{ choice.data.columnLabel }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
