{% set questionField = attribute(form, (question.getCode)) %}
{% if question.randomizeAnswers %}
    {% set questionField = questionField|shuffle_answers(question) %}
{% endif %}
 {{ form_errors(attribute(form, (question.getCode))) }}

{% set break = false %}
{% for child in questionField %}
    {% if attribute(form, (question.getInputName(child.vars.value))) is defined and not break %}
        {% set freeTextInput = attribute(form, (question.getInputName(child.vars.value))) %}
        {{ form_errors(freeTextInput) }}
        {% set break = true %}
    {% endif %}
{% endfor %}

<div id="{{ questionField.vars.id }}"
     class="{{ questionField.vars.attr.class }}">
    {% for child in questionField %}
        <div class="form-check">
            <input autocomplete="off" type="{{ type }}" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"
            {% for key, attribute in child.vars.attr %}
                {{ key }}="{{ attribute }}"
            {% endfor %}
            value="{{ child.vars.value }}" {% if child.vars.checked %}checked="checked"{% endif %}>
            <label id="{{ child.vars.id }}_label" class="form-check-label custom-control-label{% if child.vars.attr['row_attr'] is defined %} {{ child.vars.attr['row_attr'] }}{% endif %}"
                   for="{{ child.vars.id }}" a="b">
                <div class="d-flex flex-row w-100">
                    <div class="d-flex align-items-center"> {{ child.vars.label | raw }}</div>
                </div>

                {% set answer = question.getAnswerByCode(child.vars.value) %}

                {% if attribute(form, (question.getInputName(answer.code))) is defined and answer.isFreeText %}

                    {% set freeTextInput = attribute(form, (question.getInputName(answer.code))) %}
                    <div class="flex-fill bg-white rounded rounded-pill d-flex mt-1">
                        <div class="pl-2 pr-1">
                            <svg class="text-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                 width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-width="1.5">
                                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"></path>
                            </svg>
                        </div>
                        <input autocomplete="off" type="text" id="free{{ freeTextInput.vars.id }}"
                               name="{{ freeTextInput.vars.full_name }}"
                               value="{{ freeTextInput.vars.value }}" aria-describedby="button-addon2"
                               class="rounded rounded-pill border-0 free-text-input flex-fill m-auto">
                    </div>
                {% endif %}
            </label>
        </div>
    {% endfor %}
</div>
