{% extends '/b4/layout/base.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Syno Storm{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-light mb-3">
        <span class="navbar-brand mb-0">
            &nbsp;
        </span>
    </nav>

    <div class="container">

        <div class="page">
            {% if page.content is defined and '' != page.content %}
                <div class="row page__content my-3">
                    <div class="col">
                        {{ page.content }}
                    </div>
                </div>
            {% endif %}

            <div class="row questions">
                <div class="col">
                    {{ form_start(form) }}

                    {% for question in page.questions %}
                        {% if question.isMatrix() %}

                            {% include 'b4/page/_matrix.twig' with {'question': question} only %}

                        {% else %}
                            {{
                                form_row(attribute(form, ('q_' ~ question.id)), {'label': question.getText()})
                            }}
                        {% endif %}
                    {% endfor %}

                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-outline-secondary {% if backButtonDisabled %}disabled{% endif %}"
                               onclick="window.history.go(-1); return false;">
                                {{ 'page.button.back'|trans }}
                            </a>
                            {{
                                form_widget(
                                    form.next,
                                    {
                                        'attr': {'class': 'btn btn-outline-primary'},
                                        'label': 'page.button.next'|trans
                                    }
                                )
                            }}
                        </div>

                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>

    {% include 'b4/page/_footer.twig' %}

{% endblock %}
