{% extends '/b4/layout/base.twig' %}
{% form_theme form 'b4/form_theme/syno.twig' %}
{% block title %}
    {% if survey.getPublicTitle() is not empty %}
        {{ survey.getPublicTitle() }}
    {% else %}
        {{ 'page.title.default'|trans }}
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row container-sm justify-content-md-center ml-0">

            <div class="questions" id="page-container">
                {% if '' != page.content %}
                    <div class="col-12">
                        <div class="page__content rounded p-3 bg-white mb-5">
                            {{ page.content|raw }}
                        </div>
                    </div>
                {% endif %}

                <div class="col-12">
                    {{ form_start(form) }}

                        {% for question in page.questions|sort ((a, b) => a.sortOrder <=> b.sortOrder) %}
                            <div class="question card mb-5 p-5 border-0">
                                <h5 class="text-center m-0 pb-4">
                                    {{ question.getText() }}
                                </h5>

                                {% if question.isMatrix %}
                                    {% include 'b4/page/_matrix.twig' %}
                                {% elseif question.isLinearScale %}
                                    {{ form_row(attribute(form, (question.getInputName))) }}
                                {% elseif question.isLinearScaleMatrix %}
                                    {% for key,row in question.getRows() %}
                                        {{ form_row(attribute(form, (question.getInputName(key)))) }}
                                    {% endfor %}
                                {% elseif question.isText %}
                                    {% for answer in question.answers %}
                                        {{ form_widget(attribute(form, (question.getInputName(answer.answerId))), {'label': false}) }}
                                    {% endfor %}
                                {% else %}
                                    {{ form_widget(attribute(form, (question.getInputName))|shuffleFormChildren(question)) }}
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="row my-5 pb-5">
                            <div class="col text-center">
                                <button class="btn btn-outline-primary px-5 ml-2 mr-2"
                                        {% if backButtonDisabled %}style="display: none"{% endif %}
                                        onclick="window.history.go(-1); return false;">
                                    {{ 'page.button.back'|trans }}
                                </button>
                                {{ form_widget( form.next, { 'attr': {'class': 'btn btn-primary px-5 ml-2 mr-2'}, 'label': 'page.button.next'|trans } ) }}
                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {% if (response.isDebug) %}

        {% include 'b4/page/_debug.twig' %}

    {% elseif (response.isTest) %}

        {% include 'b4/page/_test.twig' %}

    {% else %}

        {% include 'b4/page/_footer.twig' %}

    {% endif %}
    {% block javascripts %}
        {{ encore_entry_script_tags('answer') }}
    {% endblock %}
{% endblock %}
